<!-- BEGIN_INCLUDE(mockxml:create) -->
    <mockxml:create type="EverythingPojo" />
<!-- END_INCLUDE(mockxml:create) -->
<!-- BEGIN_INCLUDE(mockxml:querySingle) -->
    <mockxml:query-single query="dsql:select id from EverythingPojo" />
<!-- END_INCLUDE(mockxml:querySingle) -->
<!-- BEGIN_INCLUDE(mockxml:query) -->
    <mockxml:query query="dsql:select id from EverythingPojo" />
<!-- END_INCLUDE(mockxml:query) -->
<!-- BEGIN_INCLUDE(mockxml:get) -->
    <mockxml:get id="1" type="EverythingPojo" />
<!-- END_INCLUDE(mockxml:get) -->